<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= @page_title %></title>
	<!-- Framework CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<style>
		h1 { margin-top: 25px;}
	</style>
	
</head>
<body>

<div class="container">
	<h1><em>Craigshist</em></h1>
	<h2 class="alt">A little webapp for tracking apartment price ranges by zipcode in Portland, OR.</h2>
	<hr>

	<p><%= yield %></p>
</div>

</body>
</html>
