<h3>Listings</h3>

<table border="0" cellplistingding="0" cellspacing="10" class="list">
<% @listings.each_with_index do |listing,i| %>
	<tr<%= ' class="alt"' if i%2==0 %>>
		<td>$<%= listing.price %></td>
	  	<td><a href="/show/<%= listing.id %>"><%= listing.title %></a></td>
<% end %>
</table>
